*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
build/
/captures
.externalNativeBuild
.cxx
local.properties
*.apk
*.ap_
*.aab
*.dex
*.class
bin/
gen/
Thumbs.db
captures/
obj/
/app/src/main/java/com/saddict/rentalfinder/prop/
/.kotlin/errors/errors-1730975158913.log
/.kotlin/errors/
